header { 
    background-color: #FFF;
    width: 1920px; height: 86px;
    border: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
}
nav {
    display: flex;
    gap: 32px;
}
.nav-box01 {
    width: 92px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box02 {
    width: 112px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box03 {
    width: 148px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box04 {
    width: 72px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box05 {
    width: 88px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.logo-box {
    width: 228px; height: 25px;
    border-radius: 2px;
    background: #A8A8A8;
}
.user-box {
    display: flex;
    gap: 32px;
}
.ubox01 {
    width: 68px; height: 12px; 
    border-radius: 2px;
    background: #CFCFCF;
}
.ubox02 {
    width: 92px; height: 12px; 
    border-radius: 2px;
    background: #CFCFCF;
}
.ubox03 {
    width: 58px; height: 12px; 
    border-radius: 2px;
    background: #CFCFCF;
}
.ubox04 {
    width: 84px; height: 12px; 
    border-radius: 2px;
    background: #CFCFCF;
}
.ubox05 {
    width: 36px; height: 12px; 
    border-radius: 2px;
    background: #CFCFCF;
}
main {
    background-color: #FFF;
    width: 1920px; height: 2526px;
    padding: 64px;
}
.sct-01{
    display: flex;
    gap: 36px;
}
.sct01-left {
    width: 878px; height: 500px;
    border: 1px solid #E3E3E3;
    background: #F3F3F3;
}
.sct01-right {
    width: 878px; height: 500px;
    border: 1px solid #E3E3E3;
    background: #F3F3F3;
    flex-grow: 1;
}
footer {
    background-color: #FFF;
    border: 1px solid #E3E3E3;
    width: 1920px; height: 68px;
}