span {
    background-color: pink;
}
h1 {
    font-weight: 700; font-size: 28px;
    margin-top: 20px;
}
h2 {
    font-weight: 700; font-size: 21px;
    margin-top: 20px;
}
/* 
h태그 = 제목태그
1. h1태그는 html 내에서 딱 한번만 사용할 수 있다(보통 logo-box로 사용)
2. 반드시 한 번은 h1부터 h6까지 사용해야 한다
예) html 상단에 h2 사용 -> 하단에 h3 사용
    html 상단에 h1 사용, h2 사용 X -> 하단에 h3 사용 X
올바른 코드) 
<h1></h1>
<h2></h2>
<h3></h3>
틀린 코드)
<h1></h1>
<h3></h3>
3. h1 태그를 제외하고 h2~h3까지 여러 번 사용 가능
*/